<div id="geo" class="section">
    <h2>Geospatial Data</h2>
    <p>Add a sample to view the captured GPS route.</p>

    <div class="row mb-3 align-items-end">
        <div class="col-md-6">
            <label for="geo-select" class="form-label"><strong>1. Select Sample:</strong></label>
            <select class="form-select" id="geo-select">
                <option selected disabled value="">-- Choose a sample to add --</option>
                {% for instance_name, json_path in sections.geo.items() %}
                    <option value="{{ json_path }}">{{ instance_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-auto">
            <button class="btn btn-primary" id="add-geo-sample-btn">Add</button>
            <button class="btn btn-danger" id="reset-geo-view-btn">Reset</button>
        </div>
    </div>

    <div id="geo-map-container" class="mt-4 row">
        
        <div class="text-center text-muted" id="geo-map-placeholder">
            <p class="fs-5">Add a sample to get started.</p>
        </div>

        <div class="loading-spinner d-none justify-content-center p-5" id="geo-map-spinner">
            <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;">
                <span class="visually-hidden">Loading data...</span>
            </div>
        </div>

    </div>
</div>