<div id="sidewalk-assessment-section" class="section-content max-w-7xl mx-auto space-y-8">
    <section class="bg-white rounded-xl shadow-sm border border-gray-200">
        <div class="p-6 border-b border-gray-100">
            <h2 class="text-lg font-semibold text-gray-800 flex items-center gap-2">
                <i data-lucide="cpu" class="text-emerald-500" size="20"></i>
                Sidewalk Assessment
            </h2>
            <p class="mt-2 inline-flex items-center rounded-md bg-red-50 px-2 py-1 text-xs font-medium text-red-700 ring-1 ring-inset ring-red-600/10">This data is currently being processed and will be included in a future version of this report.</p>
        </div>
        <div id="sidewalk-assessment-map-container" class="p-6 relative bg-gray-100 rounded-b-xl h-[432px]">
            <div id="sidewalk-assessment-map" class="w-full h-96 rounded-lg z-10"></div>
        </div>
    </section>
</div>