body {
    display: flex;
}
.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f8f9fa;
    padding-top: 20px;
    border-right: 1px solid #dee2e6;
}
.sidebar .nav-link {
    color: #333;
    font-size: 1.1em;
    padding: 10px 20px;
}
.sidebar .nav-link.active {
    font-weight: bold;
    color: #0d6efd;
}
.content {
    margin-left: 260px;
    padding: 30px;
    width: 100%;
}
.section {
    display: none;
}
.section.active {
    display: block;
}
img.img-fluid {
    max-height: 400px;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.leaflet-map-container {
    width: 100%;
    height: 500px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.wifi-ssid-list-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px; 
}
